__pycache__/
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.coverage
.DocumentRevisions-V100
.DS_Store
.eggs/
.fseventsd
.installed.cfg
.LSOverride
.nox/
.pytest_cache/
.Python
.Spotlight-V100
.TemporaryItems
.tox/
.Trashes
.venv
.VolumeIcon.icns
*.egg
*.egg-info/
*.pdb
*.py[cod]
*.so
**/*.rs.bk
**/mutants.out*/
*$py.class
01code
01code-tldr.txt
02book
03fonts
400.md
build/
debug
develop-eggs/
dist/
downloads/
eggs/
ENV/
env/
external
hb-shape.txt
hb-view.txt
htmlcov/
lib/
lib64/
llms.txt
MANIFEST
Network Trash Folder
parts/
sdist/
share/python-wheels/
target
Temporary Items
var/
venv/
wheels/